.App {
  width: 30rem;
  margin: auto;
}

.title {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  height: 3.5rem;
  background-color: white;
  border: 2px solid black;
}

@media only screen and (max-width: 640px) {
  .App {
    width: 20rem;
    margin: auto;
  }

  .cell {
    height: 3rem;
    background-color: white;
    border: 2px solid black;
  }
}

