.App {
  width: 30rem;
  margin: auto;
}

.title {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.cell {
  height: 3.5rem;
  background-color: white;
  border: 2px solid black;
}
